#site-footer {
    @include noselect();
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    letter-spacing: 0.4em;
    white-space: nowrap;
    padding: 1em;
    color: #7ea6e8;
    font-size: 0.85em;
}