@mixin page-content-scroll-fade {
    .scroll-fade {
        position: absolute;
        width: min(calc(100% - 3.5em * 2), 50em);
        
        height: 3.5em;
        pointer-events: none;

        &.bottom {
            bottom: 0;
            background-image: linear-gradient(to top, rgb(19, 27, 46), #0000);
        }

        &.top {
            top: 0;
            background-image: linear-gradient(to bottom, rgb(19, 27, 46), #0000);
        }
        
    }
}

.card-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-wrapper-border {
        background-image: linear-gradient(217deg, rgb(69, 79, 102), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgb(72, 83, 107), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgb(64, 78, 112), rgba(0,0,255,0) 70.71%);

        padding: 0.2vh;
        border-radius: 0.75em;

        width: 30em;
        height: 10em;
    }

    .card-wrapper {
        width: 100%;
        height: 100%;
        background-color: rgb(19, 27, 46);
        border-radius: 0.75em;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        .card-link {
            position: absolute;
            display: block;

            height: 100%;
            width: 100%;
        }

        .card-center {

            display: flex;
            justify-content: center;
            .link-icon {
                pointer-events: none;
                font-size: 1.3em;
                height: 60%;
                width: 20%;
                display: flex;
                justify-content: center;
                margin-top: 0.25em;
                // align-items: center;
            }

            .card-content {
                width: 70%;
                height: 60%;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 0.8em;
                .card-title {
                    font-size: 1em;
                }

                .card-subtitle {
                    font-size: 0.85em;
                }
            }            
        }



        p {
            line-height: 1.35em;
            letter-spacing: 0.2em;
        }
    }
}

.page-layout-list {
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    .list-item {
        display: flex;
        flex-direction: column;

        gap: 1.25em;
        .name {
            font-size: 1.2em;
            text-align: left;
            white-space: nowrap;
        }


        .list-item-secondary {
            display: flex;
            flex-direction: column;
            gap: 1em;
            
            .desc {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .text {
                    width: 60%;
                    font-size: 0.85em;
                    text-align: left;
                    p {
                        line-height: 1.5em;
                    }
                }
                .date {
                    width: 30%;
                    margin-bottom: 1.25em;
                    font-size: 1.2em;
                    text-align: right;
                    white-space: nowrap;
                }                    
            }
        
        } 
    } 
}



.page-single-content-container {
    letter-spacing: 0.2em;
    text-align: center;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95%;
    height: fit-content;
    @include page-content-scroll-fade();

    .page-container {
        width: 100%;
        margin-bottom: 3.5em;
    }
}

.page-multi-content-container {
    letter-spacing: 0.2em;
    text-align: center;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95%;
    height: fit-content;
    @include page-content-scroll-fade();


    .tab-content {
        width: 100%;
        margin-bottom: 7em;
    }
    
    .tabs-container {
        // background-color: red;
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0em -0.05em 0.5em rgba(0, 0, 0, 0.4);
        background-color: rgb(19, 27, 46);

        .tabs {

            white-space: nowrap;
            width: min(calc(100% - 3.5em * 2), 50em);

    
            display: flex;
            justify-content: space-around;
    
            .tab {
                position: relative;
                background-color: transparent;
                border: none;
                cursor: pointer;
                height: 3.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(69, 84, 113);
                
                &.selected {
                    color: #7ea6e8;
                }

                .select-indicator {
                    position: absolute;
                    background-image: linear-gradient(to right,#0000 0%, rgb(93, 109, 146) 50%, #0000 100%);
                    height: 0.2vh;
                    width: 80%;
                    top: 0;
                }

                p {
                    font-size: 0.8em;
                    letter-spacing: 0.2em;
                }
            }
        }
    }

}

.content {
    letter-spacing: 0.2em;
    text-align: center;

    .left {
        text-align: left;
    }

    .sep {
        height: 0.2vh;
        background-image: linear-gradient(to right,#0000 0%, rgb(93, 109, 146) 50%, #0000 100%);
        margin-top: 3em;
        margin-bottom: 3em;
    }

    p {
        font-size: 0.85em;
        line-height: 1.75em;
    }
}

.page-content {



    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
        pointer-events: all;
        opacity: 1;
        .content-container {
            // opacity: 1;
            // transform: translate(0,0);
        }
        
    }

    .title {
        letter-spacing: 0.2em;
        text-align: center;
        font-size: 1.75em;

        margin-top: 3em;
        margin-bottom: 3em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: red;
        white-space: nowrap;

        .sub {
            font-size: calc(1 / 1.75 * 1em * 0.85);
            line-height: 1.5em;
            margin: 1em;
        }
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .content-container-border {
        position: absolute;
        width: min(95%, calc(50em + 3.5em * 2));
        height: min(90, 40em);
        background-image: linear-gradient(217deg, rgb(69, 79, 102), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgb(72, 83, 107), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgb(64, 78, 112), rgba(0,0,255,0) 70.71%);

        padding: 0.2vh;
        border-radius: 0.75em;
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.4);
    }

    .content-container {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgb(19, 27, 46);

        border-radius: 0.75em;
        // border: solid;
        // border-width: 0.1vh;
        
        // opacity: 0;
        // transition: opacity 1s;
        // transform: translate(0, 100vh);
        overflow: hidden;

        .wrapper {
            width: 100%;
            height: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            overflow: scroll;
            overflow-x: hidden;
            @include hide-scrollbar();

            .text-container {
                width: min(calc(100% - 3.5em * 2), 40em);
                height: 100%;
            }
        }

        .close-button {
            width: 1.5em;
            height: 1.5em;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            position: absolute;

            right: 1em;
            bottom: 1em;

        }


    }

}